header {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.main-nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  overflow: hidden;
  top: 179px; /** ugly manual calculation **/
  left: 0;
  right: 0;
  bottom: auto;

  max-height: 0;
  transition: max-height 0.5s ease-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
nav ul {
  padding: 2rem 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
nav ul a {
    text-decoration: none;
}
nav ul a,
nav ul a:visited {
    color: black;
}

/** burger :3 **/
#hamburger-label {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}
#hamburger-checkbox {
  display: none;
}
#hamburger-line {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 10px;
  display: block;
  position: relative;
  width: 24px;
}

#hamburger-checkbox:checked ~ nav {
  max-height: 100vh;
}
/** end of hamburger **/

.pseudo-nav {
  background: rgba(80, 128, 107, 1);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pseudo-nav a {
  text-decoration: none;
}

.pseudo-nav img {
  margin-left: 1rem;
}

#menu-thing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#menu-thing > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#menu-thing > .divider {
  display: block;
  background: rgba(151, 151, 151, 1);
  width: 100%;
  height: 1px;
}
#shop-icon {
  height: 2.275rem;
}

/* DESKTOP :3 */
@media only screen and (min-width: 756px) {
  section > .header {
    flex-direction: row;
    align-items: center;
  }
  #menu-thing > .divider {
    width: 1px;
    height: 100%;
  }
  nav {
    position: relative;
    max-height: 100%;
    top: 0;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
  }
  nav ul {
    height: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-self: center;
  }
  #hamburger-label {
    display: none;
  }
  #menu-thing {
    position: relative;
    height: 100%;
    flex-direction: row;
    gap: 1rem;
    justify-self: flex-end;
  }
}

.cart-dropdown {
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.cart-dropdown-content {
    padding: 10px;
}

.cart-items {
    max-height: 300px;
    overflow-y: auto;
}

.cart-total {
    margin-top: 10px;
    text-align: right;
}

.cart-item-image {
  width: 100%; 
  height: auto; 
}

.btn-checkout {
    background-color: rgba(80, 128, 107, 1);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn-checkout-cart {
  background-color: rgba(80, 128, 107, 1);
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
  float: right;
}
