#products {
  display: grid;
}
#products-tiles {
    display: grid;
    gap: 1rem;
    row-gap: 1rem;
}
#products-header {
    display: grid;
    justify-content: space-between;
    gap: 2rem;
}
#products-header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#products-filter details {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}
#products-filter details > summary {
    list-style-type: none;
    position: relative;
    cursor: pointer;
}
#products-filter details > summary::after {
    content: ">";
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    bottom: auto;
    transform: translateY(-50%) rotate(90deg);
}
#products-filter details[open] > summary::after {
    transform: translateY(-50%) rotate(-90deg);
}
#products-filter details ul {
    padding-top: 1rem;
    display: grid;
    gap: 1rem;
}
#products-filter details ul li label {
    color: rgba(26, 26, 26, 1);
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#products-filter details ul li label span {
    color: rgba(128, 128, 128, 1);
}

/* DESKTOP :3 */
@media only screen and (min-width: 756px) {
  #products {
    grid-template-columns: 1fr 4fr;
  }
  #products-tiles {
    grid-template-columns: repeat(3, 1fr);
  }
  #products-header {
    grid-column: span 2;
    grid-template-columns: 1fr 4fr;
  }
}
  